* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F4FCFE;
    font-family: 'Lato', sans-serif;
    padding-top: 25px;
    position: relative;
    height: 100vh;
}
button {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #10162F;
    background-color: #F4FCFE;
    color: #10162F;
    font-weight: 500;
    margin-left: 5px;
}
button:hover {
    border: 1px solid #10162F;
    background-color: #fff;
    color: #10162F;
    cursor: pointer;
}
main {
    display: flex;
    position: relative;
}
code {
    display: block;
}
.main-container {
    margin: 0 auto;
    width: 95%;
    display: flex;
    flex-direction: column;
}
.btn-container {
    align-self: flex-start;
}
.grid-container {
    position: relative;
    margin-top: 25px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
}
.comparison-container {
    width: 0%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
    position: relative;
}
.comparison-container>div {
    width: 90%;
}
.card {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    border: 2px solid black;
    padding: 12px;
    transition: 100ms ease-out;
    box-shadow: 0px 0px black;
    display: flex;
    flex-direction: column;
}
.card h1{
    font-size: 16px;
    font-weight: 700;
    color: #19191A;
    margin-top: 10px;
}
.card h2 {
    font-size: 14px;
    font-weight: 400;
    color: #19191A;
}
.card:hover {
    transform: translate(5px,-5px);
    box-shadow: -7.5px 7.5px black;
    cursor: pointer;
}
.card-bg {
    width: 100%;
    height: 100px;
    color: black;
}
.full-size {
    grid-column: 1/-1;
    height: 300px;
    transition: 500ms ease-in-out;
    z-index: 2;
    /* grid-row-start: 1; */
}
.clicked {
    background-color: #fff;
}

/* Generic classes */
.flex-row {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 15px;
    gap: 1.5em;
}
.flex-column {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.info-card {
    height: 80%;
    background-color: #e7e9eb;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}
.code-snippet {
    background-color: rgb(44, 42, 53);
    padding: 10px;
    border-left: 3px solid #19191A;
    color: rgb(211, 211, 211);
}
.info-header {
    /* background-color: #10162F; */
    border-radius: 5px 5px 0px 0px;
    display: flex;
    align-items: flex-end;
}
.centered{
    width: 600px;
    padding: 20px;
    position:fixed; 
    top: 75px;
    left: calc(50% - 300px);
    background-color: #fff;
    box-shadow: -7.5px 7.5px black;
    border: 2px solid black;
    /* display:none; */
    z-index: 2;
}
.black-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(68, 68, 68, 0.5);
    position: absolute;
    top: 0;
    display: none;
}
.js-test-area, .jq-test-area {
    background: #fff;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
.close-div {
    text-align: right;
}
.close {
    text-align: right;
}
.close:hover {
    transform: rotate(180deg);
    cursor: pointer;
    transition: 250 ease-in-out;
    text-decoration: underline;
}



.test-div {
    background-color: darkseagreen;
    width: 50%;
    text-align: center;
    padding: 5px;
    margin: 2.5px;
}
.new-element {
    background-color: lightsalmon;
    width: 50%;
    text-align: center;
    padding: 5px;
    margin: 2.5px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
}
.addCard:hover {
    transform: rotate(90deg) scale(1.4);
    transition: 200ms ease-out;
    cursor: pointer;
}

.card-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    gap: 0.5em;
    position: absolute;
    z-index: 2;
    background-color: #fff;
    box-shadow: -7.5px 7.5px black;
    border: 2px solid black;
    padding: 20px;
    top: 75px;
    left: calc(50% - 450px);
}
.card-form input, textarea {
    display: block;
    border: 1px solid black;
    border-radius: 2.5px;
    padding: 2.5px;
    margin-bottom: 5px;
}
.card-form button {
    width: 150px;
}
.left-col, .right-col {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}
.add-card-btns {
    justify-self: flex-end;
    text-align: right;
}
.search-area {
    position: relative;
}
#search {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #F4FCFE;
    margin-right: 5px;
    width: 150px;
}
.search-icon {
    position: absolute;
    bottom: 0;
    cursor: pointer;
}
.search-icon:hover {
    transform:  scale(1.4);
    transition: 200ms ease-out;
}
.crossed {
    text-decoration: line-through;
}